.slide_up_down {
    animation-name: slide_up_down;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes slide_up_down {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
    }
}