:root {
  --primary: #FA8C00;
  --secondary: #204C3F;
  --white: #ffffff;
  --blue-50: #ecedef;
  --blue-100: #c4c8ce;
  --blue-200: #a8aeb7;
  --blue-300: #808896;
  --blue-400: #677181;
  --blue-500: #414e62;
  --blue-600: #3b4759;
  --blue-700: #2e3746;
  --blue-800: #242b36;
  --blue-900: #1b2129;
}