.choose {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #F2F8F7;
        width: calc(100% - 32.34%);
        height: 100%;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        z-index: -1;

        @include breakpoint(md) {
              width: calc(100% - 15%);
        }
    }

    &__wrapper {
        @include justify-between;
        column-gap: 20px;
        row-gap: 30px;

        @include breakpoint(md) {
            flex-direction: column-reverse;
        }
    }

    &__card-wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__card {
        display: flex;
        // align-items: self-start;
        gap: 12px;

        &-content {
            max-width: 465px;

            p {
                &:last-child {
                    color: var(--blue-600);
                    margin-top: 4px;
                }
            }
        }
    }

    // &__img-wrapper {}
}