.join__area {
    &-wapper {
        border-radius: 24px;
        background: linear-gradient(97deg, rgba(0, 116, 86, 0.10) 2.92%, rgba(250, 140, 0, 0.10) 97.18%);
        padding: 141px 0;

        .lines {
            position: absolute;
            bottom: 25px;
            left: 0;
        }

        &-content {
            position: relative;
            z-index: 1;

            p {
                max-width: 612px;
                color: var(--blue-500);
                margin: auto;
            }

            .btn-group {
                display: inline-block;

                .btn-lg {
                    background-color: var(--primary);
                    border: 1px solid var(--primary);

                    &:hover {
                        color: var(--primary);
                        background-color: transparent;
                    }
                }
            }
        }



    }
}